@charset "UTF-8";

@charset "UTF-8";

/*recaResultで使用*/

/*copyright*/
#footer {
  margin-top: 22px;
}

/* {
  outline: 1px solid #ff6666;
}*/
/*pタグ*/
p.inc {	
	font-size:20px;
	font-weight:bold;
}


body {
  margin: 0 0 0 0;		/* マージンなし（後で個別に設定） */
  padding: 0 0 0 0;		/* パディングなし（後で個別に設定） */
  color: black;
  font-size: 16px;
  text-align:center;
  background-image: url(/d-suppo/image/background/haikei1.jpg); /* 画像 */
  background-size: cover;               /* 全画面 */
  background-attachment: fixed;         /* 固定 */
  background-position: center center;   /* 縦横中央 */
}

/* wrapperクラス */
.wrapper {
  margin: 0px auto;	/* 中央揃え */
  max-width: 960px;	/* 幅を固定 */
  padding: 10px;
  overflow:hidden;
}

.menu{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background: #decdb2;
}

.menu ul{
   display: flex;
   justify-content: center;
   margin: 0;
   padding: 0;
}
.menu li{
   list-style: none;
   margin: 10px;
}
.menu a{
   display: block;
   padding: 10px;
   border: 1px solid #999;
   border-right: none;
   text-decoration: none;
   color: #333;
   background: #f2f2f2;
}
.menu li:last-child a{
    border-right: 1px solid #999;
}

/*ラジオボタン*/
 .ad_radio{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.ad_radio:before,
.ad_radio:after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}
.ad_radio.box {
	width: 90%;
	margin: 2em auto;
	text-align: left;
	border: 1px solid white;
	border-radius: 3px;
	background: #ffffff;
}
.ad_radio input[type=radio] {
	display: none;
}
.ad_radio label:focus,
.ad_radio label:hover,
.ad_radio label:active,
.ad_radio input:checked + label {
	color: #da3c41;
}
.ad_radio label:focus:before,
.ad_radio label:hover:before,
.ad_radio label:active:before,
.ad_radio input:checked + label:before {
	border-color: #da3c41;
	background: #ffffff;
}
.ad_radio label {
	/*
	margin-left: auto;
    margin-right: auto;
	width: 150px;
	*/
	font-size: 17px;
	font-weight: bold;
	line-height: 1;
	position: relative;
	display: block;
	overflow: hidden;
	padding: 1em 1em 1em 3em;
	cursor: pointer;
	-webkit-transition: all 0.15s ease;
	        transition: all 0.15s ease;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ad_radio label:before {
	position: absolute;
	top: 1em;
	left: 1em;
	width: 10px;
	height: 10px;
	content: '';
	border: 0.2em solid #cccccc;
	border-radius: 50%;
}
.ad_radio input:checked + label:before {
	border-color: #da3c41;
	background: #da3c41;
}
.ad_radio input:disabled + label {
	cursor: not-allowed;
	color: rgba(0, 0, 0, 0.5);
	background: #efefef;
}
.ad_radio input:disabled + label:hover {
	border-color: rgba(0, 0, 0, 0.1);
}
.ad_radio input:disabled + label:before {
	border-color: #ffffff;
	background: #ffffff;
}

 /*チェックボックス*/

 .al_check{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.al_check:before,
.al_check:after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}
.al_check.box {
	width: 50%;
	margin: 2em auto;
	text-align: left;
	display: flex;
	flex-wrap:wrap;
	border: 1px solid white;
	border-radius: 3px;
	background: #E2FFF7;
}
.al_check input[type=checkbox] {
	display: "checkbox";
}

.al_check label:focus,
.al_check label:hover,
.al_check label:active,
.al_check input:checked + label {
	color: #ff7308;
}
.al_check label:focus:before,
.al_check label:hover:before,
.al_check label:active:before,
.al_check input:checked + label:before {
	border-color: #ff7308;
	background: #ffffff;
}
.al_check label {
	width: 100px;
	font-size: 19px;
	font-weight: bold;
	line-height: 1;
	position: relative;
	overflow: hidden;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
	-webkit-transition: all 0.15s ease;
	        transition: all 0.15s ease;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.al_check input:checked + label:before{
	border-color: #ff7308;
	background: #ff7308;
}
.al_check input:disabled + label {
	cursor: not-allowed;
	color: rgba(0, 0, 0, 0.5);
	background: #efefef;
}
.al_check input:disabled + label:hover {
	border-color: rgba(0, 0, 0, 0.1);
}
.al_check input:disabled + label:before {
	border-color: #ffffff;
	background: #ffffff;
}

/*ボタン*/
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-malformation {
  font-size: 2rem;

  padding: 3rem 4rem;

  color: #fff;
  border-radius: 100% 80px / 80px 100%;
  background-color: #eb6100;
}

a.btn-malformation:hover {
  color: #fff;
  border-radius: 60% 80% / 100% 80%;
}

a.btn-3d-flip {
  width: 200px;
  margin: 0 auto;
  padding: 0;

  -webkit-perspective: 600px;

  perspective: 600px;
}

a.btn-3d-flip:hover .btn-3d-flip-box {
  -webkit-transform: translateY(-50%) rotateX(90deg);
  transform: translateY(-50%) rotateX(90deg);
}

a.btn-3d-flip.btn-3d-flip2:hover .btn-3d-flip-box2 {
  -webkit-transform: translateX(-50%) rotateY(-90deg);
  transform: translateX(-50%) rotateY(-90deg);
}

.btn-3d-flip-box {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;

  -webkit-transform-style: preserve-3d;

  transform-style: preserve-3d;
}

.btn-3d-flip-box2 {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;

  -webkit-transition: all 0.4s;

  transition: all 0.4s;
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;

  -webkit-transform-style: preserve-3d;

  transform-style: preserve-3d;
}

.btn-3d-flip-box-face {
  display: block;
  position: relative;
  width: 100%;
  padding: 1.3rem 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.btn-3d-flip-box-face--front {
  background: #eb6100;
}

.btn-3d-flip-box-face--back {
  position: absolute;
  top: 100%;
  left: 0;

  -webkit-transform: translateY(-1px) rotateX(-90deg);

  transform: translateY(-1px) rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;

  background: #dc5b00;
}

.btn-3d-flip-box-face--front2 {
  color: #000;
  border: 2px solid #000;
  background: #fff;
}

.btn-3d-flip-box-face--back2 {
  position: absolute;
  top: 0;
  left: 100%;
  font-size: 12px;
  -webkit-transform: translateX(-1px) rotateY(90deg);
  transform: translateX(-1px) rotateY(90deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  color: #fff;
  border: 2px solid #000;
  background: #000;
}

.fa-position-right {
  position: absolute;
  top: calc(50% - 0.5em);
  right: 1rem;
}


/* id = footer */
#footer {
  background-image: url(images/footer-bg.png);
  background-repeat: repeat-x;
  padding: 0px;
  font-size: smaller;
  color: black;
}

#logo {
  text-align: center;
  margin:0;
  padding: 0;
}

.super {
	width:10em;
	height: 3em;
	margin-top:20px;	
}

button{
	width:10em;
	margin-top:20px;
}

/*以下レスポンシブ*/
@media (max-width: 867px) {
body{
  background-color: #7FC23D;
  min-width :580px;
}

#logo{
  margin: 30px 0;
}

#logo img{
  width: 30%;
}

.menu ul{
   flex-wrap: wrap;
   border-bottom: 1px solid #999;
}
.menu li{
   width: 50%;
   margin: 0;
}
.menu a{
   border-bottom: none;
}
.menu li:last-child a{
   border-right: none;
}

.btn-3d-flip-box-face {
  width: 100%;
  height: auto;
}

.btn-3d-flip-box-face--back2 {
  width: 100%;
  height: auto;
}

}
