@charset "UTF-8";

/*recaResultで使用*/

* {
  outline: 1px solid #ff6666;
}

body {
  margin: 0 0 0 0;		/* マージンなし（後で個別に設定） */
  padding: 0 0 0 0;		/* パディングなし（後で個別に設定） */
  color: black;
  font-size: 16px;
  text-align:center;
  background-color: #E2FFF7;
}

/* wrapperクラス */
.wrapper {
  margin: 0px auto;	/* 中央揃え */
  max-width: 960px;	/* 幅を固定 */
  padding: 10px;
  overflow:hidden;
}

button{
	text-align: center;
	width: 100px;
}

#nav li {
  display: inline;		/* インラインで横に表示する */
  list-style-type: none;	/* 先頭の記号をなくす */
  padding-right: 30px;		/* 区切りを空ける */
}
#nav {
  margin: 0 0 0 0;
  padding: 15px 30px 12px 30px;
  background: #a6e9fd;
}

/*提案結果表示*/

.diettable{
	display: block;
	justify-content: space-between;
	padding: 15px;
  margin: 100 auto;
}

.diettext{
	text-align: center;

}

.item {

	margin: 45px;
}

.kaigyou{
    clear:both;
}

.dietpic {
  float: left;
  width: 250px;
  height: 200px;
  margin-right: 45px;
  margin-bottom: 20px;
}

.dietpic img{
   width: 100%;
   height: 100%;
   object-fit: cover; /* width, heightといっしょに使います */
   border: 1px solid #111;
   vertical-align: bottom;
}

/* id = footer */
#footer {
  background-image: url(images/footer-bg.png);
  background-repeat: repeat-x;
  padding: 0px;
  font-size: smaller;
  color: black;
}

#logo {
  text-align: center;
  margin:0;
  padding: 0;

}
/*以下レスポンシブ*/

@media (max-width: 959px) {
    body{
        background-color: #7fc23d;
    }
}

